@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/background-ushuaia.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardBackground{
  background-image: url("/assets/images/laguna-esmeralda_2.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.customTextStyle {
  -webkit-box-reflect: below -25px linear-gradient(to bottom, transparent, transparent 40%, white);
}
